body {
  background-image: url(assets/img/bg.jpg);
  background-size: cover;
}

#page {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #f0e8c2;
  border-radius: 24px;
  margin: 48px auto;
}